* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Alice', serif;
    font-size: 16px;
    background-color: #f1f1f1;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.title {
    text-align: center;
    font-family: 'Dancing Script', serif;
    font-size: 3.5em;
    font-weight: 700;
    padding-top: 2em;
}

h3 {
    font-size: 1.75em;
}

p {
    font-size: 1.125em;
}

/*        -----------------         HEADER SECTION         -----------------        */

header {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 2rem;
    align-items: center;
    background-color: #f1f1f1;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.logo img {
    max-height: 100%;
    max-width: auto;
    margin: auto;
}

nav ul > li {
    display: inline;
}

nav ul > li:not(:last-child) {
    margin-right: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover {
    text-decoration: underline;
}

/*        -----------------         HERO SECTION         -----------------        */

.hero-container {
    width: 100%;
    margin: 0 auto;    
    height: 50rem;
}

.hero {
    width: 100%;
    height: 100%;
    background-image: url(../Images/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    font-size: 1.2rem;
}

.hero h1 {
    font-family: 'Dancing Script', serif;
    font-size: 8em;
    font-weight: 700;
}

.hero h2 {
    font-family: 'Dancing Script', serif;
    font-size: 3.5em;
    font-weight: 700;
}

@media only screen and (max-width: 1300px) {
    .hero {
        font-size: 0.95rem;
    }
}

@media only screen and (max-width: 1150px) {
    .hero {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 900px) {
    .hero {
        text-align: center;
        padding-left: 0;
    }
    .hero h1,
    .hero h2 {
        max-width: 95%;
    }
}

@media only screen and (max-width: 750px) {
    .hero {
        font-size: 0.7rem;
    }
}

/*        -----------------         CATS SECTION         -----------------        */

.friends {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 2rem 6rem;
    row-gap: 2rem;
}

.cat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.cat {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.cat-img {
    max-width: 35rem;
    height: auto;  
}

@media only screen and (max-width: 1620px) {
    .cat-img,
    .cat {
        max-width: 80%;
    }
}

@media only screen and (max-width: 850px) {
    .cat-img,
    .cat {
        max-width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .cat-container {
        width: 100%;
    }
}

/*        -----------------         STAFF SECTION         -----------------        */

.staff-total {
    background-color: hsl(199, 36%, 65%);
}

.staff {
    display: flex;
    width: 100%;
    padding: 2rem 2rem 6rem;
    column-gap: 2rem;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}


.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.member-img {
    max-height: 20rem;
    /* width: 15rem; */
    aspect-ratio: 1 / 1.35;
    overflow: hidden;
}

.member-description {
    display: flex;
    flex-direction: column;
}

.member-description p {
    max-width: 15rem;
}

@media only screen and (max-width: 600px) {
    .member-img{
        max-height: 30rem;
    }

    .member-description {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .member-description p {
        max-width: 20rem;
    }
}

/*        -----------------         FOOTER SECTION         -----------------        */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    padding: 0 2rem;
    background-color: hsl(19, 36%, 65%);
}

footer p {
    font-style: italic;
}